<div class="container">
    <div>
        <h2>Modifier un employee :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Employee</label>
            <input type="text"[(ngModel)]="currentEmployee.idEmployee" name="idEmployee" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Employee</label>
            <input type="text"[(ngModel)]="currentEmployee.nomEmployee" name="nomEmployee" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>numTel </label>
            <input type="number"[(ngModel)]="currentEmployee.numTel" name="numTel" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date Naissance</label>
            <input type="date" [ngModel]= "currentEmployee.dateNaissance | date: 'yyyy-MM-dd'" 
            (ngModelChange)=" currentEmployee.dateNaissance= $event" name="dateNaissance" class="form-control">
        </div>

        <div class="mt-2">
            <button type="submit" (click)="updateEmployee()" class="btn btn-success">Modifier</button>
        </div>
    </form>
</div>

